/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ping-pong {
    width: 640px;
    height: 426px;
    display: inline-block;
    margin: 10px auto;
    padding: 5px;
}

div {
    display: block;
} */