body {
    margin: auto;
    width: 50%;
    position: relative;
}

.container {
    position: absolute;
    width: 640px;
}

#ping-pong {
    width: 640px;
    height: 426px;
    /* display: block; */
    padding: 5px;
    flex: 0 0 auto;
}

.sub-container {
    margin: 10px;
}

h1, h2 {
    margin: 0;
}

.winner {
    color: green;
}

.loser {
    color: red;
}